<footer>
        <div class="container">
            <div class="row">
                <div class="footer">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-4">
                            <p>Copyright &copy; Lace 'Em Up Basketball 2010</p>
                        </div>
                        <div class="col-sm-4">
                            
                            <ul>
                            <li>
                                <p>Follow us</p>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/laceemupbasketball"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/tannerlind/"><i class="fa fa-instagram"></i></a>
                            </li>    
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <p>Have a question? 
                                <a href="contact.html"> Contact </a>us!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</footer>
