<footer>
        <div class="container">
            <div class="row">
                <div class="footer">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-4">
                            <p>Copyright &copy; Lace 'Em Up Basketball 2010</p>
                        </div>
                        <div class="col-sm-4">
                           
                            <!-- Social media links Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="follow-us">

                                    <div class="addthis_inline_follow_toolbox"><p>Follow Us</p></div>
                        
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p>Have a question? 
                                <a href="contact.html"> Contact </a>us!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</footer>
